{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('dropzone_css') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %} {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('dropzone_js') }}
        {{ encore_entry_script_tags('app') }}
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js">
        </script>
    {% endblock %}
    </body>
</html>